
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fail</title>
</head>
<body>
    <div> 
        Submission is closed. You cannot make a new post.
    </div>
</body>
<div>
    @Html.ActionLink("Back to Submission", "Index","Submissions")
</div>
</html>
