
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FailComment</title>
</head>
<body>
    <div> 
        Comment out of date
    </div>
</body>
@Html.ActionLink("Back to submission","Index","Submissions")
@Html.ActionLink("Homepage","Index","Home")
</html>
