
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FailDelete</title>
</head>
<body>
    <div> Failed to delete the category. Some post use that category.
    </div>
</body>
<div>
    @Html.ActionLink("Back to list category","Index", "Categories")
</div>
</html>
